*{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}
.head{
    width: 1348px;
    height:79px;
    background:rgba(0,0,0,0.2);
    /*background: #37474f;*/
    position: relative;
rgba(0,0,0,0);
}
.head img{
    width: 150px;
    height: 50px;
    position: absolute;
    left: 150px;
    top: 14.5px;
}
.kuai1{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 700px;
}
.kuai1 a{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai1 a:hover{
    color: #16B0DC;
}
.kuai2{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 786px;
    margin-top: -79px;
}
.kuai2 a{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai2 a:hover{
    color: #16B0DC;
}
.kuai3{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 872px;
    margin-top: -79px;
}
.kuai3 span{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai3 span:hover{
    color: #16B0DC;
}
.kuai4{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 958px;
    margin-top: -79px;
}
.kuai4 span{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai4 span:hover{
    color: #16B0DC;
}
.kuai5{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 1044px;
    margin-top: -79px;
}
.kuai5 a{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai5 a:hover{
    color: #16B0DC;
}
.kuai6{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 1130px;
    margin-top: -79px;
}
.kuai6 a{
    color:#fff;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.kuai6 a:hover{
    color: #16B0DC;
}
.kuai7{
    width: 86px;
    height: 79px;
    /*background: red;*/
    margin-left: 1216px;
    margin-top: -79px;
}
.kuai7 span{
    color:#16B0DC;
    font-size: 14px;
    line-height: 79px;
    margin-left: 15px;
}
.tuu{
    width: 1349px;
    height: 300px;
    /*display: inline;*/
}
.tuu img{
    width: 100%;
}
.tou{
    width: 1140px;
    height: 43px;
    /*background: green;*/
    margin: 0 auto;
    margin-top: 50px;
}
.tou p{
    font-size: 36px;
    text-align: center;

}
.tou li{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 100px;
}
.tou h1{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 30px;
}
.tou h2{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 10px;
}
.tou h3{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 10px;
}
.tou h4{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 10px;
}
.tou h5{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 10px;
}
.tou h6{
    font-size: 16px;
    text-align: center;
    color: #222;
    margin-top: 10px;
}
.di{
    width: 100%;
    height: 200px;
    background:rgba(0,0,0,0.1);
    margin-top: 100px;
}
.biaozhi{
    /*background: #16B0DC;*/
    height: 150px;
    width: 100%;
    padding-top: 50px;
    position: relative;
}
.biaozhi i{
    font-size:30px ;
    text-align: center;
}
.biaozhi a{
    margin-left: 600px;
    color:#83b944;
}
.biaozhi b{
    color:#62a8ea;
}
.biaozhi span{
    color:#62a8ea;
}
.biaozhi h4{
    font-size: 14px;
    position: absolute;
    top: 95px;
    left: 480px;
    color: #62a8ea;
}
.biaozhi del{
    font-size: 14px;
    /*margin-top: 5px;*/
    color: #62a8ea;
    /*margin-left: 500px;*/
    position: absolute;
    left: 650px;
    top:95px;
}
.biaozhi h5{
    font-size: 14px;
    color: #aaaaaa;
    position: absolute;
    top: 120px;
    left: 540px;
}
.biaozhi h6{
    font-size: 14px;
    position: absolute;
    top: 140px;
    left: 530px;
    color: #aaaaaa;
}
.biaozhi img{
    position: absolute;
    top: 95px;
    left: 630px;
}